/* LandingPage.css */
.landing-page {
  font-family: Arial, sans-serif;
  color: white;
  background: transparent; 
  min-height: 100vh;
}


.temp {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}



